@use '@styles/variables' as vars;

.root {
    z-index: vars.$z-index-bottom-navigation;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -4px 14px 0 vars.$color-grey-008;
    border-top: 1px solid rgb(2 3 8 / 12%);
    background: vars.$color-grey-04;
    backdrop-filter: blur(64px);
    padding: 16px 10px;
}

.tab {
    width: 62px;
    height: 56px;
    border-radius: vars.$base-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: relative;

    &.isActive {
        .icon {
            opacity: 1;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 48px;
            height: 4px;
            background-color: vars.$color-main-accent;
            border-radius: 2px;
        }
    }
}

.icon {
    width: 16px;
    height: 16px;
    font-size: 10px;
    opacity: 0.6;
}

.label {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}
