.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.demoItem {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    border: 1px solid red;
    background: none;
    padding: 10px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:hover {
        background-color: green;
    }
}
